

<nav class="navbar navbar-default navbar-fixed-top">
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a href="#" class="navbar-brand">-->
        <!--Grocery Assist-->
      <!--</a>-->
    <!--</div>-->

    <!--<div class="navbar-default">-->
        <!--<ul class="nav nav-tabs">-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a [routerLink]="['/Messenger'] "*ngIf="auth.isAuthenticated()">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-comment"></span> Messenger&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li><a [routerLink]="['/list']" [class]="tab1" ><h5>My List</h5></a></li>-->
            <!--<li><a [routerLink]="['/list']" [class]="tab2" ><h5>Shared List</h5></a></li>-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/Stores-near-me']" *ngIf="auth.isAuthenticated()">Stores</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a [routerLink]="['/Recipe']" *ngIf="auth.isAuthenticated()">Recipes</a></li>&ndash;&gt;-->

        <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="dropdown-toggle" data-toggle="dropdown" href="#"> My Profile <span class="caret"></span></a>&ndash;&gt;-->
          <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Account Settings</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Logout</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--</ul>-->
    <!--</div>-->

  <!--</div>-->
</nav>

<mat-toolbar color="primary">
    <span>My Application</span>
    <mat-toolbar-row>
        <span>Third Line</span>
    </mat-toolbar-row>
</mat-toolbar>