.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
app-navbar {

  position: fixed;
  top: 0;
  width: 100%;
}
.app-name{
  /*position: fixed;*/
  margin-left: 15%;
}

.mat-elevation-z6{
  position: relative;
}