
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="example-sidenav-content">
      <section>
        <form class="example-form">
        <!--<mat-form-field class="example-full-width">-->
          <input matInput placeholder="Enter Item" #box (keyup.enter)="addItemtoList(box.value);"  class="form-control" >
        <!--</mat-form-field>-->
      </form>
        <br>
        <div *ngFor="let item of list">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="item.isPresent" ng-model ="item.name" (click)="removeFromlist(item.name)"  >
              <h4><b>{{item.name}}</b></h4>
            </li>
            <li class="list-group-item" ng-model ="item.name" *ngIf="!item.isPresent" (click)="addItemtoList(item.name)"  >
              <s> <b><h4 >{{item.name}}</h4></b></s>
            </li>
          </ul>
        </div>
      </section>
      </div>
  </div>
</div>
</div>

