
<!--<mat-card-content class="container" *ngIf="auth.isAuthenticated()">-->
  <!--<form class="example-form">-->
    <!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
    <!--<input matInput placeholder="Enter Item" #box (keyup.enter)="addItemtoList(box.value); box.value =' '"  class="form-control" >-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
  <!--</form>-->
  <!--<br>-->
  <!--<div *ngFor="let item of list" class="list-group">-->
    <!--<mat-card *ngIf="item.isPresent" ng-model ="item.name" (click)="removeFromlist(item.name)"><h4><b>{{item.name}}</b></h4></mat-card>-->
    <!--<mat-card *ngIf="!item.isPresent" ng-model ="item.name" (click)="addItemtoList(item.name)"><h4><s>{{item.name}}</s></h4></mat-card>-->
  <!--</div>-->

<!--</mat-card-content>-->

<mat-spinner  *ngIf="loading_icon"  class="loader">
</mat-spinner>
<mat-card-content class="container" *ngIf="!loading_icon">
  <form class="example-form">
    <!--<mat-form-field class="example-full-width">-->
    <input matInput placeholder="Enter Item" #box (keyup.enter)="addItemtoList(box.value); box.value =' '"  class="form-control" >
    <mat-icon *ngIf="!sharing_status && !shared_status" matTooltip="Share list by adding users"(click)="addNewUser()" class="add_user" aria-label="Example icon-button with a heart icon" svgIcon="add_user"></mat-icon>
    <mat-icon *ngIf="!sharing_status && !shared_status" matTooltip="Share list by adding users" class="stop_sharing" aria-label="Example icon-button with a heart icon" svgIcon="disabled_stop_sharing"></mat-icon>
    <mat-icon *ngIf="sharing_status || shared_status" matTooltip="Share list by adding users"(click)="addMoreUser()" class="add_user" aria-label="Example icon-button with a heart icon" svgIcon="add_user"></mat-icon>
    <mat-icon *ngIf="sharing_status || shared_status" matTooltip="Share list by adding users" class="stop_sharing" (click)="stop_sharing()" aria-label="Example icon-button with a heart icon" svgIcon="stop_sharing"></mat-icon>
  </form>
  <br>
  <div *ngFor="let item of list" class="list-group">
    <mat-card *ngIf="item.isPresent" ng-model ="item.name" >
      <mat-checkbox (click)="removeFromlist(item.name)">
        <h4>
          <b>{{item.name}}</b>
        </h4>
      </mat-checkbox>
      <mat-icon  matTooltip="Share list by adding users" class="delete" (click)="deleteItem(item)" aria-label="Example icon-button with a heart icon" svgIcon="deleteItem"></mat-icon>
      <h6 class="updated_by" *ngIf="item.updatedBy">{{item.updatedBy}} updated</h6>

    </mat-card>
    <mat-card *ngIf="!item.isPresent" ng-model ="item.name" >
      <mat-checkbox [checked]="true" (click)="addItemtoList(item.name)">
        <h4>
          <s>{{item.name}}</s>
        </h4>
        </mat-checkbox>
      <mat-icon  matTooltip="Share list by adding users" class="delete" (click)="deleteItem(item)" aria-label="Example icon-button with a heart icon" svgIcon="deleteItem"></mat-icon>
      <h6 class="updated_by" *ngIf="item.updatedBy">{{item.updatedBy}} updated</h6>
    </mat-card>


  </div>

</mat-card-content>
<button mat-fab class="app-fab--absolute" matTooltip="Save your list for future use">
  <mat-icon  (click)="openDialog()" aria-label="Example icon-button with a heart icon" svgIcon="ShareList" ></mat-icon>
</button>


