
<!--<mat-card-content class="container" *ngIf="auth.isAuthenticated()">-->
  <!--<form class="example-form">-->
    <!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
    <!--<input matInput placeholder="Enter Item" #box (keyup.enter)="addItemtoList(box.value); box.value =' '"  class="form-control" >-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
  <!--</form>-->
  <!--<br>-->
  <!--<div *ngFor="let item of list" class="list-group">-->
    <!--<mat-card *ngIf="item.isPresent" ng-model ="item.name" (click)="removeFromlist(item.name)"><h4><b>{{item.name}}</b></h4></mat-card>-->
    <!--<mat-card *ngIf="!item.isPresent" ng-model ="item.name" (click)="addItemtoList(item.name)"><h4><s>{{item.name}}</s></h4></mat-card>-->
  <!--</div>-->

<!--</mat-card-content>-->


<div  *ngIf="loading_icon"  class="loader"><img  src="../../assets/gifs/grocery_assist.gif" /></div>
<mat-card-content class="container" *ngIf="auth.isAuthenticated() && !loading_icon">
  <form class="example-form">
    <!--<mat-form-field class="example-full-width">-->
    <input matInput placeholder="Enter Item" #box (keyup.enter)="addItemtoList(box.value); box.value =' '"  class="form-control" >
    <mat-icon *ngIf="!sharing_status" matTooltip="Share list by adding users"(click)="addNewUser()" class="add_user" aria-label="Example icon-button with a heart icon" svgIcon="add_user"></mat-icon>
    <mat-icon *ngIf="sharing_status" matTooltip="Share list by adding users"(click)="stop_sharing()" class="add_user" aria-label="Example icon-button with a heart icon" svgIcon="stop_sharing"></mat-icon>
    <!--</mat-form-field>-->
  </form>
  <br>
  <div *ngFor="let item of list" class="list-group">
    <mat-card *ngIf="item.isPresent" ng-model ="item.name" (click)="removeFromlist(item.name)"><mat-checkbox><h4><b>{{item.name}}</b></h4><h6 class="updated_by">{{item.updatedBy}} updated</h6></mat-checkbox></mat-card>
    <mat-card *ngIf="!item.isPresent" ng-model ="item.name" (click)="addItemtoList(item.name)"><mat-checkbox [checked]="true"><h4><s>{{item.name}}</s></h4><h6 class="updated_by">{{item.updatedBy}} updated</h6></mat-checkbox></mat-card>
  </div>

</mat-card-content>
<button mat-fab class="app-fab--absolute" matTooltip="Save your list for future use" *ngIf="auth.isAuthenticated()">
  <mat-icon  (click)="openDialog()" aria-label="Example icon-button with a heart icon" svgIcon="ShareList" ></mat-icon>
</button>

